@charset "utf-8";
/*
  danny 20170630
	1. $Reset
	2. $body,html
	3. $共用
	4. $Mobile
  5. $Pc
*/

/* $Reset
--------------------------------------------------------------------------------------*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote{margin:0; padding:0; } fieldset, img {border:0; } address, caption, cite, code, dfn, em, var {font-style:normal; font-weight:normal; } ol, ul {list-style:none; } q:before, q:after {content:''; } abbr, acronym {border:0; }





/* $font
--------------------------------------------------------------------------------------*/
/* cwTeXYen (Chinese Traditional) http://www.google.com/fonts/earlyaccess */
@font-face {
  font-family: 'cwTeXHei';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot);
  src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff) format('woff'),
       url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.ttf) format('truetype');
}

:before ,:after{ font-family:'FontAwesome','Linearicons-Free';}





/* $body,html
--------------------------------------------------------------------------------------*/
html,body,input,select,textarea{ width: 100%; font-family: Verdana,"微軟正黑體","新細明體","蘋果儷黑體", Arial, Helvetica, sans-serif;}





/* $共用
--------------------------------------------------------------------------------------*/
/*----清除浮動技巧----*/
.clearfix:before,.clearfix:after {content: " ";display: table;}
.clearfix:after {clear: both;}
.clearfix {*zoom: 1;}
/*----清除浮動技巧----*/

/* IMAGE REPLACE */
.imageReplace{ text-indent: 100%; white-space: nowrap; overflow: hidden;}

/* float */
.floatL{ float: left;}
.floatR{ float: right;}

/* button reset */
button{ font-family: Verdana,"微軟正黑體","新細明體","蘋果儷黑體", Arial, Helvetica, sans-serif; border: none; }

/* input text reset */
input[type=text]{ font-family: Verdana,"微軟正黑體","新細明體","蘋果儷黑體", Arial, Helvetica, sans-serif; border: none; }

/* font color */
.color--red{ color: #ff1907; font-weight: normal; }
.color--black{ color: #000;  }
.color--green{ color: #3eb134; }
.color--purple{ color: #3a0069; }
.color--darkgray{ color: #404040; }

/* hlight */
.hlight--black{ color: #000;  }
.hlight--red{ color: #ff1907; }
.hlight--bold{ font-weight: bold; }







/* $Mobile
--------------------------------------------------------------------------------------*/
html,body{ width: 100%; font-size: 16px; -webkit-text-size-adjust:none;}

html,body{ min-width: 100%; font-size: 16px; background: #ededed; }


.wraper{ width: 100%; min-height: 100vh; background: #fff; margin: 0 auto; box-sizing: border-box; padding: 0 0 60px 0; }  
header{ height: 120px; line-height: 120px; background: #ef2020; text-align: center; font-size: 20px; color: #fff; }
header:before{ content: '\f06b'; font-size: 50px; margin-right: 10px; }
.main{ box-sizing: border-box; padding: 30px; font-size: 18px; line-height: 30px; color: #3d3d3d;}
.subtit{ font-weight: bold; }
.main article{ font-size: 16px; }
button{ border-radius: 3px;  }
.other{ font-size: 16px; line-height: 16px; padding: 10px 15px; margin-left: 10px;  background: #c0c0c0; display: inline-block; height: auto;}
.other:after{ content: '\f0da';  margin-left: 5px;}
.content p>span:first-child{ display: inline-block; width: 70px; }
.content a{ color: #3d3d3d; text-decoration: none; }
.content a:hover{ color: #ff1907; }
.consent{ margin: 60px 0 30px 0; }
.consent h3{ font-size: 24px; text-align: center; }
.consent h3:after{ content:""; display: block; border-bottom: 1px solid #fbcbcb; margin: 20px 0; }
.consent p{ font-size: 16px; line-height: 24px; }
.consent:after{ content: ""; display: block; border-bottom: 1px solid #fbcbcb; margin: 20px 0; }
button{ border-radius: 3px; background: #ef2020; color: #fff; width: 250px; height: 40px; line-height: 40px; font-size: 24px; display: block; margin: 0 auto; }
.success{ text-align: center; box-sizing: border-box; padding: 30px 0 0 0;}
.success:after{ content: ""; display: block; border-bottom: 1px solid #fbcbcb; margin: 20px 0; }
.btn-box{ text-align: center; }
.btn-box button{ display: inline-block; }
.btn-box button:first-child{ margin-right: 10px; }
.divtable{ display: table; width: 100%;  }
.divtr{ display: table-row; }
.divtd{ display: table-cell;  box-sizing: border-box; padding: 10px;}
.divtd:first-child{ width: 190px;  }
.checkradio-box{ display: inline-flex;   }
.checkradio-box>li{ position: relative; margin-right: 10px; }
input[type=text]{ border-radius: 3px; border: 1px solid #ccc; max-width: 250px; height: 40px; line-height: 40px; display: inline-block;   }
input[type=radio]{position:absolute; top:0; left:0; width:100%; height:100%; opacity:0; z-index:2; cursor:pointer; }
input[type=radio] + label:before {content:'\f10c'; color:#ccc; margin-right:.2rem; }
input[type=radio]:checked + label:before {content:'\f058'; color:#ef2020; }
select{ display: inline-block; width: 250px; height: 40px; line-height: 40px; border:1px solid #ccc; border-radius: 3px; font-size: 16px; box-sizing: border-box; padding: 0 5px; }
h3{ font-size: 24px;  }
h3:after{ content:""; display: block; border-bottom: 1px solid #fbcbcb; margin: 20px 0; }
.upload{ font-size: 16px; line-height: 16px; padding: 10px 15px; margin-left: 10px;  background: #c0c0c0; display: inline-block; height: auto;}
.upload:after{ content: '\f093';  margin-left: 5px;}
.line:after{ content:""; display: block; border-bottom: 1px solid #fbcbcb; margin: 30px 0; }






/* $Pc
--------------------------------------------------------------------------------------*/
@media screen and (min-width: 768px){


html,body{ min-width: 100%; font-size: 16px; background: #ededed; }


.wraper{ width: 1000px; min-height: 100vh; background: #fff; margin: 0 auto; box-sizing: border-box; padding: 0 0 60px 0; }  
header{ height: 120px; line-height: 120px; background: #ef2020; text-align: center; font-size: 36px; color: #fff; }
header:before{ content: '\f06b'; font-size: 50px; margin-right: 10px; }
.main{ box-sizing: border-box; padding: 30px; font-size: 18px; line-height: 30px; color: #3d3d3d;}
.subtit{ font-weight: bold; }
.main article{ font-size: 16px; }
button{ border-radius: 3px;  }
.other{ font-size: 16px; line-height: 16px; padding: 10px 15px; margin-left: 10px;  background: #c0c0c0; display: inline-block; height: auto;}
.other:after{ content: '\f0da';  margin-left: 5px;}
.content p>span:first-child{ display: inline-block; width: 70px; }
.content a{ color: #3d3d3d; text-decoration: none; }
.content a:hover{ color: #ff1907; }
.consent{ margin: 60px 0 30px 0; }
.consent h3{ font-size: 24px; text-align: center; }
.consent h3:after{ content:""; display: block; border-bottom: 1px solid #fbcbcb; margin: 20px 0; }
.consent p{ font-size: 16px; line-height: 24px; }
.consent:after{ content: ""; display: block; border-bottom: 1px solid #fbcbcb; margin: 20px 0; }
button{ border-radius: 3px; background: #ef2020; color: #fff; width: 250px; height: 40px; line-height: 40px; font-size: 24px; display: block; margin: 0 auto; }
.success{ text-align: center; box-sizing: border-box; padding: 30px 0 0 0;}
.success:after{ content: ""; display: block; border-bottom: 1px solid #fbcbcb; margin: 20px 0; }
.btn-box{ text-align: center; }
.btn-box button{ display: inline-block; }
.btn-box button:first-child{ margin-right: 10px; }
.divtable{ display: table; width: 100%;  }
.divtr{ display: table-row; }
.divtd{ display: table-cell;  box-sizing: border-box; padding: 10px;}
.divtd:first-child{ width: 190px;  }
.checkradio-box{ display: inline-flex;   }
.checkradio-box>li{ position: relative; margin-right: 10px; }
input[type=text]{ border-radius: 3px; border: 1px solid #ccc; max-width: 250px; height: 40px; line-height: 40px; display: inline-block;   }
input[type=radio]{position:absolute; top:0; left:0; width:100%; height:100%; opacity:0; z-index:2; cursor:pointer; }
input[type=radio] + label:before {content:'\f10c'; color:#ccc; margin-right:.2rem; }
input[type=radio]:checked + label:before {content:'\f058'; color:#ef2020; }
select{ display: inline-block; width: 250px; height: 40px; line-height: 40px; border:1px solid #ccc; border-radius: 3px; font-size: 16px; box-sizing: border-box; padding: 0 5px; }
h3{ font-size: 24px;  }
h3:after{ content:""; display: block; border-bottom: 1px solid #fbcbcb; margin: 20px 0; }
.upload{ font-size: 16px; line-height: 16px; padding: 10px 15px; margin-left: 10px;  background: #c0c0c0; display: inline-block; height: auto;}
.upload:after{ content: '\f093';  margin-left: 5px;}
.line:after{ content:""; display: block; border-bottom: 1px solid #fbcbcb; margin: 30px 0; }


}