sample{
    /*red**/
    color:#69425A;
    color:#E4494F;
    color:#E7B2B5;

    /*blue*/
    color:#3F5A68;
    color:#1099bb;
    color:#BAD6EF;

    /*green*/
    color:#565E4C;
    color:#218D46;
    color:#BDD3BD;

    /*bg*/
    color:#D8D0CA;
    color:#A59B97;
    color:#513F41;
}